/* Estilos generales */
[data-testid="stAppViewContainer"] {
    background-color: #0f1b24;
    color: white;
}

/* Color de fondo del sidebar */
[data-testid="stSidebar"] {
    background-color: #10212f;
    padding-top: 2rem;
    color: white;
}

[data-testid="stSidebar"] .stImage {
    margin-left: 5rem;
}

/* Botones */
.stButton > button {
    color: white;
    padding: 0.5rem 1rem;
    border-color: white;
    transition: background-color 0.3s;
}

.stButton > button:hover {
    background-color: #FF4B4B;
    border-color: white;
    color: white;
}

/* Inputs */
.stNumberInput input, .stNumberInput p, .stTextInput input, .stTextInput p {
    color: white;
}

/* Selectbox */
.stSelectbox p, .stSelectbox select {
    color: white;
}

[data-baseweb="select"] > div {
    color: white;
}

[data-baseweb="popover"] * {
    color: white;
}

/* File uploader button */
.stFileUploader button:hover {
    color: white;
    border-color: white;
    transition: background-color 0.3s;
}
.stFileUploader button:hover {
    background-color: #FF4B4B;
    border-color: white;
    color: white;
}